.dt-tools {
  &-container {
    align-items: center;
    background-color: #2d2d5e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 144px;
    max-width: 40px;
    padding: 8px 0;
    width: 35px;
  }

  &-button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;

    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: #737acc;
    }
  }
}
