<section class="dt-tools-container">
  <button class="dt-tools-button"
          title="screenshot"
          (click)="initScreenshot()">
    <img src="assets/images/screenshot.svg" alt="Screenshot">
  </button>

  <button class="dt-tools-button"
          title="see something"
          (click)="initSeeSomething()">
    <img src="assets/images/see-something.svg" alt="See something">
  </button>

  <button class="dt-tools-button"
          title="crop"
          (click)="initCrop()">
    <img src="assets/images/crop.svg" alt="Crop">
  </button>
</section>