.dt-tools {
  &-container {
    -webkit-app-region: drag;
    align-items: center;
    background-color: #2d2d5e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 144px;
    max-width: 40px;
    padding: 8px 0;
    position: absolute;
    user-select: none;
    width: 40px;
  }

  &-button {
    -webkit-app-region: no-drag;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;

    img {
      width: 16px;
      height: 16px;
    }
  }
}
