<article class="dt-side-bar-container">
  <section class="dt-side-bar-panel-top">
    <section class="dt-aside-panel-tabs-container">
      <button class="dt-btn dt-aside-panel-tab active">
        <span class="dt-extension-icon-list"></span>
      </button>
    </section>

    <section class="dt-side-bar-dynamic-options-container">
      <!--      <dt-dynamic-options></dt-dynamic-options>-->
      <dt-see-something></dt-see-something>
    </section>
  </section>

  <section class="dt-side-bar-bottom-container">
    <div class="dt-side-bar-avatar-container">
      <img class="dt-side-bar-avatar-img dt-side-bar-avatar-img-placeholder"
           src="./assets/images/default-avatar.png"/>

      <span class="dt-side-bar-user-status">
      </span>
    </div>
  </section>
</article>
