.dt-floating-button-container {
  align-items: center;
  background-color: #000000;
  border-radius: 10px 0 0 10px;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 5px;
  -webkit-app-region: drag;

  width: 40px;

  .dt-floating-logo {
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    height: 80%;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    -webkit-app-region: no-drag;

    img {
      height: 100%;
      object-fit: contain;
      user-select: none;
      width: 100%;
    }
  }
}
