<article class="dt-panel-container"
         [hidden]="!isAnimationFinished"
         #panelContainer>
  <section class="dt-panel-control-buttons">
    <button class="dt-panel-control-close-button"
            (click)="closeComponent()">
      x
    </button>

    <button class="dt-btn dt-panel-control-minimize-expand-button"
            (click)="toggleMinimize()">
      ━
    </button>

    <button class="dt-btn dt-panel-control-full-view-button"
            (click)="toggleFullView()">
      <span class="dt-extension-icon-expand"></span>
    </button>
  </section>

  <section class="dt-main-panel-container">
    <dt-side-bar>
    </dt-side-bar>

    <div class="dt-panel-content"
         #panelContent>
      <!--      <router-outlet></router-outlet>-->
      <div class="wall-injection-dobar wall-default-theme comment-default-theme micro-app-default-theme"
               *ngIf="!isMinimized">
        <wall-bulletins-panel [wallFeatures]="wallFeatures">
        </wall-bulletins-panel>

        <div contenteditable="false"
             socialText="true">
        </div>
      </div>

      <div class="dt-panel-full-view-container"
               *ngIf="isInFullView">

      </div>
    </div>
  </section>
</article>
