<article class="toolbar-container">
  <section class="toolbar-content">
    <button class="toolbar-button"
            title="screenshot"
            (click)="initScreenshot()">
      <img src="assets/images/screenshot.svg" alt="Icon 1">
    </button>

    <button class="toolbar-button"
            title="see something"
            (click)="initSeeSomething()">
      <img src="assets/images/see-something.svg" alt="Icon 2">
    </button>

    <button class="toolbar-button"
            title="crop"
            (click)="initCrop()">
      <img src="assets/images/crop.svg" alt="Screenshot">
    </button>
  </section>
</article>

<div class="">

</div>
