<article class="dt-home-container">
  <section class="dt-toolbar-container">
    <button class="dt-toolbar-button"
            title="screenshot"
            (click)="initScreenshot()">
      <img src="assets/images/screenshot.svg" alt="Screenshot">
    </button>

    <button class="dt-toolbar-button"
            title="see something"
            (click)="initSeeSomething()">
      <img src="assets/images/see-something.svg" alt="See something">
    </button>

    <button class="dt-toolbar-button"
            title="crop"
            (click)="initCrop()">
      <img src="assets/images/crop.svg" alt="Crop">
    </button>
  </section>

  <ng-container *ngIf="documentDetail">
    <dt-modal-viewer class="dt-viewer-main-container"
                     [documentId]="documentDetail.documentId"
                     [versionId]="documentDetail.versionId"
                     (closeEmitter)="closeViewer()">
    </dt-modal-viewer>
  </ng-container>
</article>